* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;

}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo i {
    font-size: 24px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i, .nav-library p {
    color: #b7b3b6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcast button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}

.nav-playlist p, .nav-podcast p {
    font-size: 12px;
}

.nav-footer {
    margin-top: auto;
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
}

.search-bar {
    display: flex;
    margin: auto;
    margin-top: -25px;
    align-items: center;    
    background-color: #242424;
    background: #000;
    padding: 8px 12px;
    border-radius: 20px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.subscribe {
    background-color: transparent;
    color: #a7a7a7;
    border-color: transparent;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.login {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}

.artists-grid, .albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 24px;
}

.artist-card, .album-card {
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.artist-card:hover, .album-card:hover {
    background-color: #282828;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.artist-card img, .album-card img {
    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 16px;
}

.artist-card h3, .album-card h3 {
    font-size: 12px;
}

.artist-card p, .album-card p {
    font-size: 10px;
    color: #b7b3b6;
}

.content {
    margin-top: 40px;
}

.content h2 {
    margin-bottom: 10px;
}

.banner {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #af2896, #509bf5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}

.banner h2 {
    font-size: 14px;
}

.banner p {
    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}

.banner button:hover {
    filter: drop-shadow(0 10px 13px rgba(0,0,0,0.7));
}